.alt5e.dnd5e label.checkbox input[type="checkbox"] {
	margin: 0px;
}

.alt5e.dnd5e.sheet select:hover,
.alt5e.dnd5e.sheet input[type="text"]:hover,
.alt5e.dnd5e.sheet input[type="text"]:focus,
.alt5e.dnd5e select:focus,
.alt5e.dnd5e input[type="text"]:focus {
	background: rgba(0, 0, 0, 0.075);
	/* box-shadow: 0px 0px 5px #ff0000, 0px 0px 5px #c53131; */
	box-shadow: none;
}

.alt5e.dnd5e.sheet .traits .traits-list {
	padding-left: 10px;
}

.alt5e.dnd5e.sheet .sheet-navigation .item {
	margin: 0px 10px;
	font-weight: 700;
}

.alt5e.dnd5e.sheet .sheet-header h1 {
	padding: 0px;
}

.alt5e.dnd5e.sheet.actor.character {
	min-width: 800px;
	min-height: unset;
	max-height: 100%;
	overflow: hidden;
}

.alt5e.dnd5e.sheet .window-content {
	overflow: auto;
}

.alt5e.dnd5e.sheet .window-content form {
	overflow-x: hidden;
	overflow-y: scroll;
	background-color: rgba(0, 0, 0, 0.025);
}

.alt5e.dnd5e.sheet.actor.character .sheet-header img.profile {
	object-fit: cover;
	height: auto;
	border-right: none;
  border-radius: 10px;
}

.alt5e.dnd5e.sheet.actor .counters {
	border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.alt5e.dnd5e.sheet .sheet-body {
	overflow: visible;
	padding: 0px 0px 3px 0px;
}

.alt5e.dnd5e.sheet .window-content .tab {
	overflow: visible;
}

.alt5e.dnd5e.sheet.actor.character .sheet-header .charlevel {
	flex: 0 0 auto;
	height: auto;
}

.alt5e.dnd5e.sheet .sheet-header .summary li {
	width: 33%;
	border-right: 1px solid rgba(0, 0, 0, 0.15);
}

.alt5e.dnd5e.sheet .sheet-header .summary li:last-child {
	border-right: none;
}

.alt5e .section-titles {
	display: inline-block;
	font-family: "Modesto Condensed", "Nodesto", "Palatino Linotype", serif;
	font-size: 22px;
	font-weight: normal;
	text-align: center;
	height: 25px;
	width: 99%;
	max-height: 25px;
	margin: 0px 0px 4px 0px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.15); /*2px groove;*/
}

.alt5e li.skill:nth-child(odd) {
	background-color: rgba(0, 0, 0, 0.075);
}

.alt5e.dnd5e.sheet.actor ul.skills-list li.skill:nth-child(even) {
	background: none;
}

.alt5e.dnd5e.sheet.actor.character ul.ability-scores {
	flex: 0 0 100px;
	flex-direction: column;
	border: none;
  height: fit-content;
}

.alt5e.dnd5e.sheet.actor .ability-scores .ability {
	height: 76px;
	max-height: 76px;
	margin: 1px 5px 2px 5px;
	text-align: center;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 3px;
	background-color: rgba(0, 0, 0, 0.025);
}

.alt5e.dnd5e.sheet.actor .ability-scores .ability .ability-modifiers {
	margin: -3px 0px 0px 0px;
}

.alt5e.dnd5e.sheet.actor .ability-scores .ability .ability-modifiers span.ability-mod, 
.alt5e.dnd5e.sheet.actor .ability-scores .ability .ability-modifiers span.ability-save {
	height: 23px;
	border-top: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 3px;
}

.alt5e.dnd5e.sheet.actor .ability-scores .ability .ability-modifiers span.ability-mod {
	margin-left: 1px;
	border-right: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 3px;
	background-color: rgba(0, 0, 0, 0.025);
}

.alt5e.dnd5e.sheet.actor .ability-scores .ability .ability-modifiers span.ability-save {
	margin-right: 1px;
	border-left: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 3px;
	background-color: rgba(0, 0, 0, 0.025);
}

.alt5e.dnd5e.sheet.actor.character ul.skills-list {
	flex: 1;
	flex-direction: column;
	margin: 0px 5px;
	padding: 0px 2px;
	border: none;
	height: fit-content;
	height: -moz-fit-content;
}

.alt5e.dnd5e.sheet.actor.character ul.skills-list li.skill {
	padding: 3px;
	margin: 0px 0px 2px 0px;
}

.alt5e.dnd5e.sheet .skill-bonus {
	flex: 0;
	text-align: center;
	margin-top: 1px;
}

.alt5e.dnd5e.sheet.actor .traits {
	margin: 0px;
}

.alt5e.dnd5e.sheet .sheet-header {
	border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.alt5e.dnd5e.sheet.actor .sheet-header .summary {
	border: none;
	border-top: 1px solid rgba(0, 0, 0, 0.15);
	border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.alt5e.dnd5e.sheet.actor ul.attributes li.attribute {
	border: 1px solid rgba(0, 0, 0, 0.15);
}

.alt5e.dnd5e.sheet.actor .sheet-header .attributes .attribute {
	border: none;
	border-right: 1px solid rgba(0, 0, 0, 0.15);
	overflow: hidden;
	height: 75px;
}

.alt5e.dnd5e.sheet.actor .sheet-header .attributes .attribute-footer {
	overflow: hidden;
}

.alt5e.dnd5e.sheet.actor .sheet-header .attributes .attribute:last-child {
	border-right: none;
}

.alt5e.dnd5e.sheet.actor.character .resource .attribute-value label.recharge input[type="checkbox"] {
	width: 18px;
}

.alt5e .resource {
	background-color: rgba(0, 0, 0, 0.025);
	border-radius: 0px;
}

.alt5e.dnd5e.sheet.actor .traits .form-group, 
.alt5e.dnd5e.sheet.actor .traits .form-group-stacked {
	margin: 0px;
}

.alt5e.dnd5e.sheet.actor .traits .actor-size {
	flex: 1;
	border: none;
	font-family: "Signika", sans-serif;
	font-size: 12px;
	margin: 0px;
	max-width: fit-content;
	/* direction: rtl;
  text-align-last: right; */
	-webkit-appearance: none;
}

.alt5e.dnd5e.sheet.actor .traits label {
	padding-top: 2px;
}

.alt5e.dnd5e.sheet.actor .traits .trait-selector {
	padding: 7px 0px 0px 0px;
	font-size: 13px;
	flex: 1;
	color: transparent;
}

.alt5e.dnd5e.sheet.actor .traits i.fas {
	color: transparent;
}

.alt5e.dnd5e.sheet.actor .traits:hover i.fas {
	color: #999;
}

.alt5e.dnd5e.sheet.actor .traits .configure-flags {
	padding-top: 6px;
}

.alt5e.dnd5e .traits-list .tag {
	line-height: 20px;
  font-size: 12px;
}

.alt5e .ac-display, 
.alt5e .prof-bonus {
	font-size: 40px !important;
	height: unset !important;
	margin-top: 10px;
}

.alt5e .alt-favorites {
	flex: 0 0 100%;
}

.alt5e .fav-spell-slots {
	display: flex;
	flex: 0 0 70px;
	justify-content: center;
}

.alt5e .fav-spell-slots input[type="text"] {
	text-align: center;
}

.fav-item, .fav-feat, .fav-spell {
	list-style: none;
	margin: 0;
	padding: 1px 0px !important;
	border: none !important;
	line-height: 30px !important;
}

.fa-star {
	color: #c53131;
}

.item-control.item-edit i.fas.fa-edit:before {
    content: "\f0ad"; /* Wrench */
		/* content: "\f303"; /* Pencil */
}

.alt5e .additional-info {
	flex: 0 0 300px;
}

.alt5e .additional-notes {
	flex: 0 0 50%;
}

.alt5e .biopage + .editor {
	height: auto;
	min-height: 30px;
	margin-bottom: 10px;
	display: flex;
	flex-direction: column;
}

.alt5e .tox.tox-tinymce {
	border: none;
	flex: 1;
	min-height: 200px;
}

.alt5e .background {
	max-height: 95%;
}

.alt5e.dnd5e.sheet.item {
	min-width: 560px;
}

.alt5e.dnd5e.sheet.item .sheet-body {
	overflow: auto;
}

.alt5e.dnd5e.sheet.item .window-content form {
	overflow: hidden;
}

.alt5e.dnd5e.sheet.actor .spell-slots, .dnd5e.sheet.actor .spell-comps {
  min-width: 75px;
	text-align: center;
}

.alt5e.dnd5e.sheet.actor .spell-uses {
	text-align: center !important;
}

.alt5e.dnd5e.sheet.item .sheet-header img.profile {
	border: none;
}

.alt5e.dnd5e.sheet.actor.character .inventory .item-controls .item-toggle, 
.alt5e.dnd5e.sheet.actor.character .spellbook .item-controls .item-toggle {
	color: #b5b3a4;
}

.alt5e.dnd5e.sheet.actor .inventory-list .item-detail .item-toggle.active,
.alt5e.dnd5e.sheet.actor.character .inventory .item-controls .item-toggle.active,
.alt5e.dnd5e.sheet.actor.character .spellbook .item-controls .item-toggle.active {
	color: #c53131;
}

.alt5e.dnd5e.sheet.actor.character .inventory .item-controls .item-toggle.fixed, 
.alt5e.dnd5e.sheet.actor.character .spellbook .item-controls .item-toggle.fixed {
	/* color: #143c8c; /* Dark blue */
	color: #6e3296; /* Dark purple */
}

.alt5e.dnd5e.sheet.actor li.item.flexrow:nth-child(odd) {
	background: rgba(0, 0, 0, 0.07);
}

.alt5e.dnd5e.sheet.actor .item-detail.item-uses input,
.alt5e.dnd5e.sheet.actor .item-detail.item-uses,
.alt5e.dnd5e.sheet.actor .inventory-list .item-detail,
.alt5e.dnd5e.sheet.actor .spell-slots input,
.alt5e.dnd5e.sheet.actor .spell-slots, 
.alt5e.dnd5e.sheet.actor .spell-comps,
.alt5e.dnd5e.sheet.actor .spell-school, 
.alt5e.dnd5e.sheet.actor .spell-action, 
.alt5e.dnd5e.sheet.actor .spell-target {
	color: #666;
	border: none;
	margin: auto;
}

.alt5e.dnd5e.sheet.actor .spell-slots span.sep {
	padding-right: 5px;
}

.alt5e.dnd5e.sheet.actor span.max {
	min-width: 28px;
	text-align: center;
	display: inline-block;
}

.alt5e.dnd5e.sheet.actor .spell-slots input,
.alt5e.dnd5e.sheet.actor .spell-slots {
	font-family: "Signika", sans-serif;
	font-weight: bold;
	font-size: 14px;
}

.alt5e.dnd5e.sheet.actor .slot-max-override {
	color: rgba(0, 0, 0, 0);
	margin-left: -5px;
}

.alt5e.dnd5e.sheet.actor .slot-max-override:hover {
	color: rgba(102, 102, 102, 1);
	padding-left: 5px;
}

.alt5e.dnd5e.sheet.actor .inventory-list .item .item-name .item-image {
	flex: 0 0 30px;
	height: 30px;
	background-size: 30px;
	background-position: center;
	border: none;
	border-radius: 5px;
	margin-right: 5px;
}

.alt5e.dnd5e.sheet.actor .inventory-list .item .item-name.rollable:hover .item-image {
	border: 2px solid #c53131;
	border-radius: 5px;
}

.alt5e.dnd5e.sheet.actor .inventory-list .item .item-name.rollable .item-image:hover {
	border-radius: 5px;
	box-shadow: inset 0px 0px 10px rgba(255, 255, 255, 0.4), inset 0px 0px 10px rgba(255, 255, 255, 0.8); /* White */
}

.alt5e.dnd5e.sheet.actor .inventory-list .item .item-name h4 {
	white-space: unset;
	margin: auto;
}

.dnd5e.sheet.actor ul.skills-list li.skill .skill-name-controls .config-button {
  font-size: 13px;
  top: 1px;
}

.alt5e.dnd5e.sheet.actor .skill:hover,
.alt5e.dnd5e.sheet.actor .config-button:hover {
	color: #c53131;
}

.alt5e.dnd5e.sheet .sheet-navigation .item:hover,
.alt5e.dnd5e.sheet.actor .proficiency-toggle:hover,
.alt5e.dnd5e.sheet.actor .proficient .proficiency-toggle:hover,
.alt5e.dnd5e.sheet .filter-list .filter-item:hover,
.alt5e.dnd5e.sheet.actor .traits i.fas:hover,
.alt5e.dnd5e.sheet.actor .inventory-list .item-controls a:hover,
.alt5e.dnd5e.sheet .editable .rollable:hover h4,
.alt5e.dnd5e.sheet .editable .rollable:hover {
	color: #c53131;
	font-weight: 700;
	text-shadow: none;
}

.alt5e.dnd5e.sheet .sheet-navigation .item:hover {
	font-weight: 700;
}

.alt5e.dnd5e.sheet .filter-list .filter-item.active,
.alt5e.dnd5e.sheet .sheet-navigation .item.active {
	color: #c53131;
	border-bottom: 3px solid #c53131;
	text-shadow: none;
}

.alt5e.dnd5e.sheet .filter-list .filter-item.active {
	font-weight: bold;
}

.alt5e.dnd5e.sheet.actor.character .biography {
	max-width: 100%;
}
.alt5e.dnd5e.sheet .items-list .items-header,
.alt5e.dnd5e.sheet.actor .inventory-list .inventory-header {
	font-weight: normal;
	color: #4a4b4c;
	background: rgba(0, 0, 0, 0.2) !important;
	margin: 1px 0px 0px 0px;
	padding: 1px 0px 0px 5px;
	border: none;
	border-radius: 3px;
	height: 28px;
	align-content: center;
}

.alt5e.dnd5e.sheet .items-list .items-header .item-name,
.alt5e.dnd5e.sheet.actor .inventory-list .inventory-header h3 {
	margin: 0px;
	font-family: Signika, sans-serif;
	font-size: 15px;
	font-weight: bold;
}

.alt5e.dnd5e.sheet.actor .inventory-list {
	font-family: "Signika", sans-serif;
	font-size: 13px;
	text-align: left;
	overflow-x: hidden;
	margin: 0;
	padding: 0px 5px 0px 1px;
}

.alt5e.dnd5e.sheet.actor .item-list {
	margin: 1px 0px 1px 0px;
	padding: 0px;
}

.alt5e.dnd5e.sheet.actor li.item.flexrow {
	margin: 1px 0px 0px 0px;
}

.alt5e.dnd5e.sheet.actor .item-controls {
	flex: 0 0 70px;
	justify-content: center;
	text-align: center;
	margin: auto;
	color: #666;
}

.alt5e.dnd5e.sheet.actor .inventory-list .category-weight,
.alt5e.dnd5e.sheet.actor .inventory-list .inv-plus-stuff {
	opacity: 0.75;
}

.alt5e.dnd5e.sheet.actor .inventory-list .toggle-collapse {
	min-width: 12px;
	opacity: 1.0;
}

.alt5e .fa-caret-down {
	color: #c53131;
}

.alt5e .configure-movement .fa-cog {
	opacity: 0.5;
}

.alt5e .configure-movement:hover .fa-cog {
	opacity: 1.0;
	color: #c53131;
}

.alt5e.dnd5e.sheet .sheet-header .header-details {
	border-left: 1px solid rgba(0, 0, 0, 0.15);
  margin-left: -2px;
}

.alt5e.dnd5e.sheet.actor .inventory-filters .currency input[type="text"] {
	border-bottom: none;
}

.alt5e.dnd5e.sheet.actor .inventory-filters .currency input[type="text"]:hover,
.alt5e.dnd5e.sheet.actor .inventory-filters .currency input[type="text"]:focus {
	border-bottom: 1px solid #111;
}

.alt5e.dnd5e.sheet.actor .inventory-filters .currency label {
	line-height: 22px;
}

.alt5e.dnd5e.sheet.actor .inventory-list .item .item-uses input {
	width: 28px;
}

.dnd5e.chat-card .card-header img { 
	border: none; 
}

.alt5e.dnd5e.sheet.actor .traits a:hover {
  text-shadow: none;
}