<form class="{{cssClass}} flexcol" autocomplete="off">
	{{!-- Sheet Header --}}
	<header class="sheet-header flexrow">
		<img class="profile" src="{{actor.img}}" title="{{actor.name}}" data-edit="img"/>
		<section class="header-details flexrow">
			<h1 class="charname">
				<input name="name" type="text" value="{{actor.name}}" placeholder="{{ localize 'DND5E.Name' }}"/>
			</h1>
			<aside class="header-exp flexcol">
				<div class="charlevel">
					<label>{{ localize "DND5E.Level" }} {{data.details.level}}</label>
					<span class="levels">{{classLabels}}</span>
				</div>
				{{#unless disableExperience}}
					<div class="experience flexrow">
						<input name="data.details.xp.value" type="text" value="{{data.details.xp.value}}" data-dtype="Number" placeholder="0"/>
						<span class="sep">/</span>
						<span class="max">{{data.details.xp.max}}</span>
					</div>
					<div class="xpbar">
						<span class="bar" style="width: {{data.details.xp.pct}}%"></span>
					</div>
				{{/unless}}
			</aside>
			{{!-- Character Summary --}}
			<ul class="summary">
				<li>
					<input type="text" name="data.details.race" value="{{data.details.race}}" placeholder="{{ localize 'DND5E.Race' }}"/>
				</li>
				<li>
					<input type="text" name="data.details.background" value="{{data.details.background}}" placeholder="{{ localize 'DND5E.Background' }}"/>
				</li>
				<li>
					<input type="text" name="data.details.alignment" value="{{data.details.alignment}}" placeholder="{{ localize 'DND5E.Alignment' }}"/>
				</li>
			</ul>
			{{!-- Header Attributes --}}
			<ul class="attributes flexrow">
				{{!-- ARMOR CLASS --}}
				<li class="attribute">
					<h4 class="attribute-name box-title">{{ localize "DND5E.ArmorClass" }}</h4>
					<div class="attribute-value">
						<input class="ac-display" name="data.attributes.ac.value" type="text" value="{{data.attributes.ac.value}}"
							data-dtype="Number" placeholder="10"/>
					</div>
				</li>
				
				{{!-- HIT POINTS --}}
				<li class="attribute health">
					<h4 class="attribute-name box-title">Hit Points</h4>
					<div class="attribute-value multiple">
						<input name="data.attributes.hp.value" type="text" value="{{data.attributes.hp.value}}" data-dtype="Number" placeholder="10"/>
						<span class="sep"> / </span>
						<input name="data.attributes.hp.max" type="text" value="{{data.attributes.hp.max}}" data-dtype="Number" placeholder="10"/>
					</div>
					<footer class="attribute-footer">
						<input name="data.attributes.hp.temp" type="text" class="temphp" placeholder="+Temp" value="{{data.attributes.hp.temp}}" data-dtype="{{data.attributes.hp.type}}"/>
						<input name="data.attributes.hp.tempmax" type="text" class="temphp" placeholder="+Max" value="{{data.attributes.hp.tempmax}}" data-dtype="{{data.attributes.hp.type}}"/>
					</footer>
				</li>
				
				{{!-- HIT DICE / SHORT & LONG REST BUTTONS --}}
				<li class="attribute">
					<h4 class="attribute-name box-title">{{ localize "DND5E.HitDice" }}</h4>
					<div class="attribute-value multiple">
						<label class="hit-dice">{{data.attributes.hd}} / {{data.details.level}}</label>
					</div>
					<footer class="attribute-footer">
						<a class="rest short-rest">{{ localize "DND5E.RestS" }}</a>
						<a class="rest long-rest">{{ localize "DND5E.RestL" }}</a>
					</footer>
				</li>
				
				{{!-- INITIATIVE --}}
				<li class="attribute initiative">
					<h4 class="attribute-name box-title">{{ localize "DND5E.Initiative" }}</h4>
					<div class="attribute-value">
						<span>{{numberFormat data.attributes.init.total decimals=0 sign=true}}</span>
					</div>
					<footer class="attribute-footer">
						<span>{{ localize "DND5E.Modifier" }}</span>
						<input name="data.attributes.init.value" type="text" placeholder="0" data-dtype="Number" value="{{numberFormat data.attributes.init.value decimals=0 sign=true}}"/>
					</footer>
				</li>
				
				{{!-- SPEED / MOVEMENT TYPES --}}
				<li class="attribute configure-movement">
					<h4 class="attribute-name box-title">
						{{ localize "DND5E.Speed" }} ({{data.attributes.movement.units}})
					</h4>
					<div class="attribute-value">
						<span>{{movement.primary}}</span>
					</div>
					<footer class="attribute-footer">
						<span title="{{movement.special}}">{{movement.special}}</span>
					</footer>
				</li>
				
				{{!-- PROFICIENCY BONUS --}}
				<li class="attribute">
					<h4 class="attribute-name box-title">{{ localize "DND5E.Proficiency" }}</h4>
					<div class="attribute-value">
						<span class="prof-bonus">{{numberFormat data.attributes.prof decimals=0 sign=true}}</span>
					</div>
				</li>
			</ul>
		</div>
	</header>
	{{!-- PC Sheet Navigation --}}
	<nav class="sheet-navigation tabs" data-group="primary">
		<a class="item active" data-tab="attributes">Core</a>
		<a class="item" data-tab="inventory">{{ localize "DND5E.Inventory" }}</a>
		<a class="item" data-tab="features">{{ localize "DND5E.Features" }}</a>
		<a class="item" data-tab="spellbook">{{ localize "DND5E.Spellbook" }}</a>
		<a class="item" data-tab="effects">{{ localize "DND5E.Effects" }}</a>
		<a class="item" data-tab="biography">{{ localize "DND5E.Biography" }}</a>
	</nav>
	{{!-- PC Sheet Body --}}
	<section class="sheet-body">
		{{!-- Core Tab --}}
		<div class="tab attributes core flexrow" data-group="primary" data-tab="attributes">
			{{!-- Ability Scores, Skills, & Traits --}}
			<div style="display: flex; flex-wrap: wrap; flex: 0 0 330px; align-content: start;">
				{{!-- Ability Scores --}}
				<ul class="ability-scores">
					<div class="section-titles">Ability Scores</div>
					{{#each data.abilities as |ability id|}}
					<li class="ability {{#if ability.proficient}}proficient{{/if}}" data-ability="{{id}}">
						<h4 class="ability-name box-title rollable">{{ability.label}}</h4>
						<input class="ability-score" name="data.abilities.{{id}}.value" type="text" value="{{ability.value}}" data-dtype="Number" placeholder="10"/>
						<div class="ability-modifiers flexrow">
							<span class="ability-mod" title="Modifier">{{numberFormat ability.mod decimals=0 sign=true}}</span>
							<input type="hidden" name="data.abilities.{{id}}.proficient" value="{{ability.proficient}}" data-dtype="Number"/>
							<a class="proficiency-toggle ability-proficiency" title="Proficiency">{{{ability.icon}}}</a>
							<span class="ability-save" title="Saving Throw">{{numberFormat ability.save decimals=0 sign=true}}</span>
						</div>
					</li>
					{{/each}}
				</ul>
				{{!-- Skills --}}
				<ul class="skills-list">
					<div class="section-titles">Skills</div>
					{{#each data.skills as |skill s|}}
						<li class="skill flexrow {{#if skill.value}}proficient{{/if}}" data-skill="{{s}}">
							<input type="hidden" name="data.skills.{{s}}.value" value="{{skill.value}}" data-dtype="Number"/>
							<a class="proficiency-toggle skill-proficiency" title="{{skill.hover}}">{{{skill.icon}}}</a>
							<h4 class="skill-name rollable">{{skill.label}}</h4>
							<span class="skill-ability">{{skill.ability}}</span>
							<span class="skill-mod">{{numberFormat skill.total decimals=0 sign=true}}</span>
							{{!-- <input class="skill-bonus" name="data.skills.{{s}}.bonus" type="text" value="{{numberFormat skill.bonus decimals=0 sign=true}}" data-dtype="Number" placeholder="0" title="Misc. Modifier"/> --}}
							{{!-- <span class="skill-passive">({{skill.passive}})</span> --}}
						</li>
					{{/each}}
				</ul>
				<div style="width: 100%;">
					<div class="section-titles">Traits</div>
					{{> "modules/alt5e/templates/parts/alt5e-traits.html"}}
				</div>
			</div>
			{{!-- Resources, Counters, & Favorites --}}
			<div style="display: flex;">
				{{!-- Resources --}}
				<section class="center-pane">
					{{!-- Body Attributes --}}
						<ul class="attributes flexrow">
							{{#each resources as |res|}}
								<li class="attribute resource">
									<h4 class="attribute-name box-title">
										<input name="data.resources.{{res.name}}.label" type="text" value="{{res.label}}" placeholder="{{res.placeholder}}" />
									</h4>
									<div class="attribute-value">
										<label class="recharge checkbox">
											{{ localize "DND5E.AbbreviationSR" }} <input name="data.resources.{{res.name}}.sr" type="checkbox" {{checked res.sr}}/>
										</label>
										<input name="data.resources.{{res.name}}.value" type="text" value="{{res.value}}" data-dtype="Number" placeholder="0"/>
										<span class="sep"> / </span>
										<input name="data.resources.{{res.name}}.max" type="text" value="{{res.max}}" data-dtype="Number" placeholder="0"/>
										<label class="recharge checkbox">
											{{ localize "DND5E.AbbreviationLR" }} <input name="data.resources.{{res.name}}.lr" type="checkbox" {{checked res.lr}}/>
										</label>
									</div>
								</li>
							{{/each}}
						</ul>
					{{!-- Counters --}}
					<div class="counters">
						<div class="counter flexrow death-saves">
							<h4 class="death-save rollable">{{ localize "DND5E.DeathSave" }}</h4>
							<div class="counter-value">
								<i class="fas fa-check"></i>
								<input type="text" name="data.attributes.death.success" data-dtype="Number" placeholder="0" value="{{data.attributes.death.success}}"/>
								<i class="fas fa-times"></i>
								<input type="text" name="data.attributes.death.failure" data-dtype="Number" placeholder="0" value="{{data.attributes.death.failure}}"/>
							</div>
						</div>
						<div class="counter flexrow exhaustion">
							<h4>{{ localize "DND5E.Exhaustion" }}</h4>
							<div class="counter-value">
								<input type="text" name="data.attributes.exhaustion" data-dtype="Number" placeholder="0" value="{{data.attributes.exhaustion}}" />
							</div>
						</div>
						<div class="counter flexrow inspiration">
							<h4>{{ localize "DND5E.Inspiration" }}</h4>
							<div class="counter-value">
								<input type="checkbox" name="data.attributes.inspiration" data-dtype="Boolean" {{checked data.attributes.inspiration}}/>
							</div>
						</div>
					</div>
					{{!-- Favorites --}}
					<div class="alt-favorites">
						<div class="section-titles favtabtarget">Favorites</div>
					</div>
				</section>
			</div>
		</div>
		{{!-- Inventory Tab --}}
		<div class="tab inventory flexcol" data-group="primary" data-tab="inventory">
			{{> "modules/alt5e/templates/parts/alt5e-inventory.html" sections=inventory}}
		</div>
		{{!-- Features Tab --}}
		<div class="tab features flexcol" data-group="primary" data-tab="features">
			{{> "modules/alt5e/templates/parts/alt5e-features.html" sections=features}}
		</div>
		{{!-- Spellbook Tab --}}
		<div class="tab spellbook flexcol" data-group="primary" data-tab="spellbook">
			{{> "modules/alt5e/templates/parts/alt5e-spellbook.html"}}
		</div>
		{{!-- Effects Tab --}}
			<div class="tab effects flexcol" data-group="primary" data-tab="effects">
				{{> "systems/dnd5e/templates/actors/parts/active-effects.html"}}
			</div>
		{{!-- Biography Tab --}}
		<div class="tab biography flexrow" data-group="primary" data-tab="biography">
			<div class="additional-info">
				<div class="section-titles biopage">Description</div>
				{{editor content=data.details.description.value target="data.details.description.value" button=true owner=owner editable=editable}}
				<div class="section-titles biopage">Personality Traits</div>
				{{editor content=data.details.trait target="data.details.trait" button=true owner=owner editable=editable}}
				<div class="section-titles biopage">Ideals</div>
				{{editor content=data.details.ideal target="data.details.ideal" button=true owner=owner editable=editable}}
				<div class="section-titles biopage">Bonds</div>
				{{editor content=data.details.bond target="data.details.bond" button=true owner=owner editable=editable}}
				<div class="section-titles biopage">flaws</div>
				{{editor content=data.details.flaw target="data.details.flaw" button=true owner=owner editable=editable}}
			</div>
			<div class="background">
				<div class="section-titles">Background</div>
				{{editor content=data.details.biography.value target="data.details.biography.value" button=true owner=owner editable=editable}}
			</div>
		</div>
	</section>
</form>