<li class="item flexrow fav-item" data-item-id="{{item._id}}">
	<div class="item-name flexrow rollable">
		<div class="item-image" style="background-image: url({{item.img}}) !important"></div>
		<h4>{{item.name}}</h4>
	</div>
	{{#if item.data.uses.max }}
	  <div class="item-detail item-uses">
	    <input type="text" value="{{item.data.uses.value}}" placeholder="0" disabled/>
			<span class="sep">/</span>
			<span class="max">{{item.data.uses.max}}</span>
		</div>
	{{/if}}
	{{#if item.data.quantity}} 
		<div class="item-detail count">
			<input style="color: #666;" class="item-count" data-path="data.quantity" type="text" value="{{item.data.quantity}}" disabled {{#if item.editable}}{{else}}disabled{{/if}}> 
		</div>
	{{/if}}	
	{{#if item.spellComps}}
		<div class="item-detail uses">
			{{item.spellComps}}
			{{#if item.spellCon}}<i class='fas fa-copyright'></i>{{/if}}
			{{#if item.spellRit}}<i class='fas fa-registered'></i>{{/if}}
		</div>
	{{/if}}
	<div class="item-detail item-controls">
	  {{#if item.data.isItem}}
			<a class="item-control item-toggle {{item.data.toggleClass}}" title='{{item.data.toggleTitle}}'><i class="fas fa-shield-alt"></i></a>
		{{/if}}
		<a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
		<a class="item-control item-fav" title="Remove"><i class="fas fa-sign-out-alt"></i></a>
	</div>
</li>